fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
python-dotenv
python-multipart
fastapi-offline
cryptography
psycopg2-binary==2.9.9
python-jose[cryptography]
bcrypt
pytest
httpx
