# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
*.iml

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Android
android/.gradle
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Python backend
Backend-fastapi/.env
**/__pycache__/
*.pyc

# Exclude unrelated projects/SDKs from this repo
flutter/
painpoint/
untitled folder